In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('kc_house_data.csv')

In [22]:
data_feat = data.drop(['id', 'date', 'lat', 'long'], axis=1)
data_feat = data_feat.dropna(axis=0, how='all')
data_feat.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,1800,7503

In [26]:
X = data_feat.iloc[:, 1:]
y = data_feat.iloc[:, 0:1]

In [27]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [28]:
from sklearn.tree import DecisionTreeRegressor
dtreereg = DecisionTreeRegressor()
dtreereg.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [31]:
predictions = dtreereg.predict(X_test)

In [46]:
def find_accuracy(predictions, y):
    for i in range(len(y)):
        error = np.abs(predictions[i] - y.iloc[i])
        mean_error = error/len(y)
    return 100 - mean_error

In [47]:
find_accuracy(predictions, y_test)

price    94.792566
Name: 1501, dtype: float64